Source: aioetcd
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-aioetcd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Coroutine based etcd client
 aioetcd
 .
 Coroutine-based etcd client
 .
 Asyncio version of https://github.com/jplana/python-etcd 
